<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="email.errors && email.dirty">
        <small *ngIf="email.errors?.['required']">Email is required</small>
        <small *ngIf="email.errors?.['email']">Please enter a valid email</small>
      </div>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="password.errors && password.dirty">
        <small *ngIf="password.errors?.['required']">Password is required</small>
        <small *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">Password must be between 8 and 16 characters</small>
      </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>